<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @skill_tree.name %>
</p>

<%= link_to_unless @skill_tree.levels.empty?, 'Levels', levels_path(@skill_tree.levels) %>

<%= link_to 'Edit', edit_skill_tree_path(@skill_tree) %> |
<%= link_to 'Back', skill_trees_path %>

