<h1>Master View</h1>

<div class="main_container card">
  <% @skill_trees.each do |skill_tree| %>
    <div class="skill_tree">
      <div class="title"> <%= skill_tree.name %> </div>
      <div class="level_list">
        <% skill_tree.levels.each do |level| %>
          <div class="level">
            <div class="title"> <%= level.name %> </div>
            <% level.tasks.each do |task| %>
              <div class="task">
                <span class="name"> <%= task.name %> </span>
                <%= link_to "Visit the Site", task.url %>
                <span class="description"> <%= task.description %> </span>
                <span class="status"> <%= task.status %> </span>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

