<%= form_for(@progression) do |f| %>
  <% if @progression.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@progression.errors.count, "error") %> prohibited this progression from being saved:</h2>

      <ul>
      <% @progression.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :levels %><br />
    <%= select_tag("levels") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
