<h1>Listing progressions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Levels</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @progressions.each do |progression| %>
  <tr>
    <td><%= progression.name %></td>
    <td><%= progression.levels %></td>
    <td><%= link_to 'Show', progression %></td>
    <td><%= link_to 'Edit', edit_progression_path(progression) %></td>
    <td><%= link_to 'Destroy', progression, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Progression', new_progression_path %>
