<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @progression.name %>
</p>

<p>
  <b>Levels:</b>
  <%= @progression.levels %>
</p>


<%= link_to 'Edit', edit_progression_path(@progression) %> |
<%= link_to 'Back', progressions_path %>
