<%= form_for(@level) do |f| %>
  <% if @level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@level.errors.count, "error") %> prohibited this level from being saved:</h2>

      <ul>
      <% @level.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :skill_tree %><br />
    <%= select("level", "skill_tree_id", SkillTree.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'None'}) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
