<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @level.name %>
</p>

<p>
  <b>Level:</b>
  <%= @level.level %>
</p>

<p>
  <b>Categories:</b>
  <%= @level.categories %>
</p>


<%= link_to 'Edit', edit_level_path(@level) %> |
<%= link_to 'Back', levels_path %>
